# Build and release artifacts
*.vsix
/dist/
/out/
/packages/
/releases/
/src/compiling/ANTLR/grammar/build/
/syntaxes/systemverilog.tmLanguage.json

# Dependencies
/node_modules/

# Local scripts
/scripts/

# Test and coverage artifacts
/.nyc_output/
/.vscode-test/
/coverage/
/results.xml

# Tool and operating system files
**/.antlr
.DS_Store
